
@font-face {
    font-family: 'pt_serifregular';
    src: url('ptf55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifitalic';
    src: url('ptf56f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifbold';
    src: url('ptf75f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('ptf76f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}